@import "tailwindcss";


/* tags in create event */
.event-tags .ant-select-selection-item {
  background-color: #F3E8FF !important ;  
  color: #793EED !important;       
  border: none !important;
  border-radius: 8px !important;
  padding: 4px 10px !important;
  font-weight: 500;
  
}
.event-tags .ant-select-selection-item-remove {
  color: #793EED !important;
}
.custom-select .ant-select-placeholder ,.event-tags .ant-select-placeholder{
  font-size: 14px !important;
  font-weight: 600 !important;
}



/* event search */

.event-search .ant-input::placeholder {
  font-size: 14px;
  font-weight: 500;
  color: #94979e;
  font-family: "Urbanist", sans-serif;
}

/* date and time in create event */

@media (max-width: 480px) {
  .ant-picker-dropdown {
    left: 8px !important;
    right: 8px !important;
      max-width: 100vw !important;

  }

  .ant-picker-panel-container {
      max-width: 100vw !important;
  }

  .ant-picker-panel {
          max-width: 100vw !important;

  }
}